<style type="text/css" > * {
	margin: 0px;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 20px;
}

nav {
	height: 40px;
	width: 100%;
	background-color: rgba(0,10,20,1);
	opacity: 0.85;
	position: fixed;
}

ul {
	padding: 0px;
	width: 100%;
}

	ul li a {
		/*text-align: right;*/
		text-decoration: none;
		color: white;
		display: block;
		width: 220px;
	}

	ul li {
		float: left;
		height: 40px;
		width: 220px;
		background-size: cover;
		background-color: rgba(0,10,20,0.85);
		color: white;
		font-size: 22px;
		line-height: 40px;
		text-align: center;
		list-style-type: none;
	}

		ul li a:hover {
			background-color: rgba(167,216,190,0.85);
			font-size: 22px;
		}

		ul li ul li {
			display: none;
		}

		ul li:hover ul li {
			display: block;
			background-color: rgba(227,105,92,0.85);
		}

/*--------------------HEADER SESH---------------*/
.sect {
	height: 100%;
	width: 100%;
	background-color: aliceblue;
	background-size: cover;
	background-attachment: fixed;
}

.subsect {
	height: 50%;
	width: 100%;
	background-color: bisque;
}

.sectone {
	background-image: url('22-01.jpg');
}

.sectonetext {
	line-height: 658px;
	padding: 570px;
	color: white;
	font-size: 40px;
}

.secttwo {
	height: 70%;
	background-image: url('1-01.jpg');
}

.one {
	background-image: url('7.jpg');
	height: 65%;
}

.two {
	height: 20%;
}
/*-------------footer--------*/
footer div {
	background-color: rgba(0,10,20,0.85);
	padding: 20px;
	text-align: center;
	color: white;
}

	footer div a {
		margin: 0px;
		list-style: none;
		font-size: 20px;
		color: white;
		text-decoration: none;
		padding: 15px;
	}

</style >
